header {
    height: 55px;
    background-color: #00747F;
}
h1{
    color:#94EFFF;
}

nav{
    height: 25px;
    background-color: #00B9CC;
    position:absolute;
    top:70px;
    width: 1253px;
}

main{
    height: 800px;
    background-color: #95EFFF;
    padding:20px;
}

p,dl{
    color:#00747F;
}

footer{
    height: 200px;
    background-color: #2A474A;
}

